/* CSS reset */
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&family=Sigmar&display=swap');



html {
    box-sizing: border-box;
    font-size: 16px;
  }
  

  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    box-sizing: inherit;
    font-family: 'Noticia Text', serif;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }


*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

main{
  margin-top: 150px;
  padding: 5px;
}

footer{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid black;
  bottom: 0;
  position: relative;
}

.footer-h3{
  text-decoration: underline orange 3px;
}

.div-push-footer{
  height: 300px;
}

/* nav styling */

.div-logo{
  width: 100%;
  max-width: 400px;
  height: 100%;
}
.logo{
  height: 100px;
  width: 200px;
}

.div-hamburger-icon{
  display: none;
  align-items: center;
}



#hamburer{
  display: flex;
  text-align: center;

}

/* header styling */

.header-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 200px;
}

.header-h1{
  text-decoration: underline 3px;
  text-decoration-color: orange;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.div-header-content{
  gap: 50px;
  display: flex;
  width: 100%;
  justify-content: center; 
  flex-wrap: wrap-reverse;
}

.header-text {

  display: flex;
  width: 100%;
  max-width: 500px;
  flex-wrap: wrap;
}

.header-p{
  width: 100%;
}



.header-image {
object-fit: cover;
display: flex;
width: 100%;
max-width: 400px;
height: 100%;
max-height: 400px;
border-radius: 5px;

}

/* Blog card styling */

.div-last-post-title{
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 100px;
  color: rgb(0, 0, 0);
}

.last-post-title{
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  color: black;
  text-decoration: underline 3px;
  text-decoration-color: orange;
}


.container-last-post{
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-slider{
  width: 100%;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

.container-last-post{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}


#div-last-post{
    justify-content: center;
    gap: 40px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}

#btn-right,#btn-left{
  margin-top: 20px;
  font-size: 40px;
  padding: 10px;
  border-radius:50%;
  background-color: white;
  color: rgb(202, 134, 6);
  border-color: black;
  border: none;
}

#btn-right:hover,#btn-left:hover{
  cursor: pointer;
  background-color: rgb(202, 134, 6);
  color: white;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}



.blog-card-image{
  display: flex;
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}

.blog-card-title{
   display: flex;
    width: 100%;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0px 0px 10px 10px;
    
}

.blog-card:hover > .blog-card-title { 
  background-color: rgb(202, 134, 6);
  color: white; 
}


#blogContainer {
  transition: opacity 1s ease-in-out;
}
#indicatorContainer{
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
} 

.indicator {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 5px;
  transition: background-color 0.3s ease-in-out;
}

.indicator.active {
  background-color: black;
}

/* Contact styling */
.con-title{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  text-decoration:underline 3px #F47F20;
}

.contact-div,.su-but{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top:10px;
  color: white;
 

}

.contact-container{
  max-width: 550px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 20px;
  padding-bottom: 20px;
  border: solid #F47F20 1px;
}


.contact{
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  color: #0F0B1C;
  border: solid black 2.5px;  
}


.contact-message{
  width: 100%;
  max-width: 500px;
  padding-bottom: 100px;
  border-radius: 5px;
  margin: 5px;
  color: #0F0B1C;
  border: solid black 2.5px;  
}


.contact,.contact-msg::placeholder{
  color: #0F0B1C;
}

.contact-div-input{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.div-form-success{
  justify-content: center;
  display: flex;
  color: #047925;
  font-size: 50px;
  display: none;
}
.error{
  text-align: center;
}

#form-submit{
  width: 100%;
  max-width: 100px;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: rgb(22, 4, 4);
  border-radius: 10px;
  font-size: large;
  border: solid black 2.5px;
  background-color: rgb(255, 103, 1);
}

#form-submit:hover{
  color: white;
  font-size: large;
  border: solid black 2.5px;
  background-color: rgb(126, 56, 10);
  cursor: pointer;

}

#form-success{
  text-align: center;
}

#name-error,#subject-error,#email-error,#subject-error,#message-error{
  color: rgb(192, 0, 0);
  justify-content: center;
  display: flex;
  display: none;
}


.con-title,.con-h2{
  width: 100%;
  display: flex;
  justify-content: center;
}

/* all blog posts styling */

.all-blog-h1{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  text-decoration:underline 3px rgb(202, 134, 6);
}


.div-load-more{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

#load-more-button{
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(168, 72, 7);
  font-size: large;
  border: solid black 2.5px;
  color: rgb(255, 255, 255);
}

#load-more-button:hover{
  font-size: large;
  color: white;
  background-color: rgb(245, 111, 21);
  cursor: pointer;

}



/* about page styling*/

.about-container{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 100px;
  gap: 50px;
}

.div-about{
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  max-width: 500px;
}

.div-about-img{
  width: 100%;
  max-width: 600px;
}

.about-h1{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  text-decoration:underline 3px rgb(202, 134, 6);
}

.about-img{
  object-fit: cover;
  display: flex;
  height: 500px;
  width: 100%;
  border-radius: 10px;
}

/* Blog details page */
#container-blog-detail{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}


.blog-details-title{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  text-decoration:underline 3px rgb(202, 134, 6);
}

.blog-details-content{
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  justify-content: center;
}

.image-container{
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-top: 30px;
}

.image-container .popup {
  position: relative;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

}

.popup img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;

}

.popup img:hover {
  cursor: pointer;
}

.blog-details-image{
  display: flex;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}

@media (min-width:901px){
  .nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    color: black;
    position: fixed;
    top: 0;
    border-bottom: 1px solid grey ;
    z-index: 2;
  }

  .nav-button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .nav-but {
    color: black;
    text-decoration: none;
    width: 100px;
    border-radius: 5px;
    padding: 5px;
    position: relative;
  }
  
  .nav-but::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: orange;
    transition: width 0.3s ease-in-out; /* Add transition for smooth effect */
  }
  
  .nav-but:hover::after {
    width: 100%; /* Expand the line on hover */
  }

  .div-hamburger-icon{
    display: none;
  }

  .blog-card {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    height: 300px;
    background-color:rgb(202, 134, 6);;
    color: rgb(0, 0, 0);
    transition: transform 0.5s ease-in-out; /* Add transition property */
    z-index: 1;
  }
  
  .blog-card:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .blog-card:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out; /* Add transition for the line effect */
  }
  
}


@media (max-width:900px){

  .nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    color: black;
    position: fixed;
    top: 0;
    border-bottom: 1px solid grey ;
    z-index: 2;
  }

  .nav-button {
    position: fixed;
    height: 500px;
    margin-top: 100px;
    display: none;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    z-index: 2;
  
  }
  
    .nav-but{
      color: white;
      justify-content: center;
      display: flex;
      width: 100%;
      background-color: orange;
      padding: 20px;
    }

    .nav-but:active{
      background-color: rgb(236, 108, 22);
    }
  
    .div-hamburger-icon{
      display: flex;
      margin-right: 20px;
      font-size: 20px;
      color: orange;
    }
    
    .container-slider{
      display: none;
    }

    #indicatorContainer{
      display: none;
    }
    .blog-card {
      width: 100%;
      max-width: 400px;
      border-radius: 10px;
      height: 300px;
      background-color:rgb(202, 134, 6);;
      color: rgb(0, 0, 0);
    }
    
    .blog-card:hover {
      cursor: pointer;
    }
    
    .blog-card:hover::after {
      content: '';
      position: relative;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: white;
    }
  

 }
